
<div class="inner cover">
	<h1 class="cover-heading">Welcome</h1>
	<p class="lead">DevCamp is a dynamic learning management system (LMS). It delivers learning materials and interaction for every student's success by targeting the skills necessary for real-world application.</p>
	<p class="lead">
	  	<%= link_to "Abou me",about_pages_path, class: 'btn btn-lg btn-secondary'%>
	</p>
</div>


